{% extends "@UVDeskCoreFramework//Templates//layout.html.twig" %}

{% block title %} 
	{% trans %}Spam Settings{% endtrans %}
{% endblock %}

{% block pageContent %}
	<div class="uv-inner-section">
		{# Append Panel Aside #}
		{% set asideTemplate = 'Webkul\\UVDesk\\CoreFrameworkBundle\\Dashboard\\AsideTemplate' %}
		{% set asideSidebarReference = 'Webkul\\UVDesk\\CoreFrameworkBundle\\UIComponents\\Dashboard\\Panel\\Sidebars\\Settings' %}

		{{ uvdesk_extensibles.getRegisteredComponent(asideTemplate).renderSidebar(asideSidebarReference) | raw }}
		
		<div class="uv-view {% if app.request.cookies and app.request.cookies.get('uv-asideView') %}uv-aside-view{% endif %}">
			<h1>{{ 'Spam Settings'|trans }}</h1>
			<!--Form-->
			<form method="post" action="{{ path('helpdesk_member_knowledgebase_spam') }}">
				<!-- Field -->
				<div class="uv-element-block">
					<label class="uv-field-label">{{ 'Black list'|trans }}</label>
					<div class="uv-field-block">
						<textarea name="blackList" class="uv-field">{{ blacklist }}</textarea>
					</div>
					<span class="uv-field-info">{{ "Comma (,) separated values (Eg. support@example.com, @example.com, 68.98.31.226)"|trans }}</span>
				</div>
				<!-- //Field -->

				<!-- Field -->
				<div class="uv-element-block">
					<label class="uv-field-label">{{ 'White list'|trans }}</label>
					<div class="uv-field-block">
						<textarea name="whiteList" class="uv-field">{{ whitelist }}</textarea>
					</div>
					<span class="uv-field-info">{{ 'Comma (,) separated values (Eg. support@example.com, @example.com, 68.98.31.226)'|trans }}</span>
				</div>
				<!-- //Field -->

				<!--CTA-->
				<input class="uv-btn" href="#" value="{{ 'Save Changes'|trans }}" type="submit">
				<!--//CTA-->
			</form>
			<!--//Form-->
		</div>
	</div>
{% endblock %}
